.check-box .box {
	-fx-background-color: white;
	-fx-border-color:grey;
	-fx-border-radius:3px; 
}

.check-box:selected .mark {
	-fx-background-color: white;
}

.check-box:selected .box {
	-fx-background-color: #e74c3c;
}

.button {
	-fx-background-color: transparent;
	-fx-border-width: 1;
	-fx-border-color: #000;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
	-fx-text-fill: #000;
}

.button:hover {
	-fx-cursor: hand;
	-fx-background-color: #bdc3c7;
}