.grid-pane {
	-fx-background-color: #fff;
}

.button {
	-fx-background-color: transparent;
	-fx-border-width: 1;
	-fx-border-color: #000;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
	-fx-text-fill: #000;
}

.button:hover {
	-fx-cursor: hand;
	-fx-background-color: #bdc3c7;
}